# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
package-lock.json

# Project exclude paths
/edge-drag-link/node_modules/
/history/node_modules/
/input-label/node_modules/